﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Master.cshtml";
}
<h2>Welcome to Transcrib<b>it</b>.</h2>
<p>
    Transcrib<b>it</b> is a service that transcribes sound and video files.
    Search for files and content amongst millions of radio and TV programs,
    or upload and transcribe your own file. Enjoy!
</p>
<div class="box-row x2">
    <form id="search-form" onsubmit="document.submitSearch(); return false;">
        <h4>Search</h4>
        <input type="text" name="searchField" id="searchField"/>
        <input type="button" onclick="document.submitSearch()" value="Search"/>
    </form>
</div>
<div class="box-row x2">
        <h4>Transcribe a file</h4>
        <div id="singleupload" style="display: none"><div class="ajax-file-upload" style="position: relative; overflow: hidden; cursor: default;">Upload<form method="POST" action="upload.php" enctype="multipart/form-data" style="margin: 0px; padding: 0px;"><input type="file" id="ajax-upload-id-1459504192915" name="myfile" accept="*" style="position: absolute; cursor: pointer; top: 0px; width: 100%; height: 100%; left: 0px; z-index: 100; opacity: 0;"></form></div><div></div></div>
 </div>
<div style="clear: both; margin-top: 10px;"></div>
<h3>Result</h3>
<div class="box-row result" id="result-container">

</div>
<link href="http://hayageek.github.io/jQuery-Upload-File/4.0.10/uploadfile.css" rel="stylesheet">
<script src="http://hayageek.github.io/jQuery-Upload-File/4.0.10/jquery.uploadfile.min.js"></script>
<script src="~/Content/Script.js"></script>
