﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta property="og:title" content="TranscribeIt" />
    <meta property="og:description" content="TranscribeIt" />
    <title>TranscribeIt</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/transcribit.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../Content/style.css" type="text/css" />
</head>
<body>
<div class="top-wrapper">
    <!--
    <i class="fa fa-bars"></i>Menu
    -->
    <a href="@Url.Action("Index", "Home")"><span class="site-logo"><i class="fa fa-bullhorn"></i>Transcrib<span class="fat">it</span></span></a>
</div>
<div class="wrapper">
    <div class="content spacer">
        @RenderBody()
    </div>
</div>
</body>
</html>