﻿body {
    margin: 0;
    background-color: #f1f1f1;
    font-size: 16px;
     font-family: 'Roboto', sans-serif;
}


.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

.spacer {
    padding: 20px;
}

.spacer-lr {
    padding: 0 20px;
}

.fat {
    font-weight: bold;
}

.top-wrapper {
    background-color: #5CAFAB;
    padding: 20px;
    box-shadow: 2px 2px #ccc;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 24px;
}

.top-wrapper i{
    margin-right: 5px;
}

.top-wrapper .site-logo{
    font-size: 52px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.top-wrapper a {
    color: #fff;
    text-decoration: none;
}

.top-wrapper a:hover {
    color: #ccc;
    text-decoration: none;
}
.content h2 {
    font-size: 42px;
    line-height: 50px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.content h3 {
    font-size: 30px;
    line-height: 50px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.content h4 {
    font-size: 20px;
    line-height: 20px;
    font-weight: bolder;;
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0 0 15px 0;
}

.content p {
	line-height: 30px;
}

.box-row.x2 {
    max-width: 49%;
    display: inline-block;
}


.content input {
	height: 20px;
}

.content input[type=text] {
	width: 36em;
	max-width: 78%;
}

.result {
	float: left;
}

.result-clear {
    clear: both;
    display: block;
    margin-top: 0;
     
}

.result .row {
	border: dotted 1px #ccc;
    border-bottom: 0;
	padding: 20px;
}

.result .row:last-child {
	border: dotted 1px #ccc;
}

.result .row p {
	display: inline-flex;
}

.result .row .label {
  font-weight: bold;
	vertical-align: middle;
	line-height: 20px;
	padding-right: 20px;
}

.result .row .field{
	font-family: monospace;
	vertical-align: middle;
	line-height: 20px;
	padding-right: 20px;
}
